html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: #F0F0F0;
}
.wrap{
  margin: 0px;
  padding: 0px;
  width: 1110px;
  margin: 0px auto;
  padding-top: 40px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
}
/*---------------------------------------------------------------------------
 * Header
 *---------------------------------------------------------------------------*/
header{
  min-height: 155px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.title{
  width: 350px;
}
.title h1{
  margin: 0px;
  padding: 0px;
  width: 350px;
  font-size: 39px;
  color: #000000;
  line-height: 60px;
  text-align: center;
}
.selectCity{
  height: 58px;
  width: 350px;
  margin-top: 8px;
  font-size: 16px;
  border: 3px solid #000000;
  background: #FFFFFF;
}
.rangeList{
  margin-top: 13px;
  width: 760px;
  padding-left: 30px;
  box-sizing: border-box;
}
.rangeList table{
  width: 730px;
  height: 110px;
  text-align: center;
  border-collapse: collapse;
  font-size: 16px;
  background: #FFFFFF;
}
.rangeList table td{
  width: 16.6%;
  height: 50px;
  border: 3px solid #000000;
}
.rangeList table tr:first-child{
  font-family: 'Open Sans', sans-serif;
}
/*---------------------------------------------------------------------------
 * showCity
 *---------------------------------------------------------------------------*/
.showCity{
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.city{
  flex: 2;
  font-size: 36px;
  text-align: left;
}
.line{
  flex: 9 1 0;
  border-top:3px dotted #000000;
  overflow:hidden;
  margin: 0px 15px;
}
.updateTime{
  flex: 3;
  text-align: right;
}
/*---------------------------------------------------------------------------
 * content
 *---------------------------------------------------------------------------*/
content{
  margin-top: 32px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
/*---------------------------------------------------------------------------
 * listLocation
 *---------------------------------------------------------------------------*/
.listLocation{
  width: 757px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
/*---------------------------------------------------------------------------
 * card
 *---------------------------------------------------------------------------*/
.card{
  width: 340px;
  height: 97px;
  background: #FFFFFF;
  border: 3px solid #000000;
  margin-bottom: 32px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location{
  height: 97px;
  flex: 1 0 55%;
  border-right: 3px solid #000000;
  box-sizing: border-box;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aqi{
  height: 97px;
  flex: 1 0 45%;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*---------------------------------------------------------------------------
 * selectLocation
 *---------------------------------------------------------------------------*/
.selectLocation{
  width: 347px;
  height: 535px;
  background: #FFFFFF;
  border: 3px solid #000000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
/*---------------------------------------------------------------------------
 * selectLocation-allAqi
 *---------------------------------------------------------------------------*/
.allAqi{
  width: 100%;
  height: 438px;
  margin: 0px auto;
  border-top: 3px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.allAqi-list{
  width: 85%;
  height: 68px;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 16px;
}
.allAqi-list:first-child{
  border-top: 0px;
}
.allAqi-list-title{
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}
.allAqi-list-title font{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.allAqi-list-title font small{
  font-size: 7px;
}
.allAqi-list-num{
  text-align: right;
  font-size: 24px;
}
/*---------------------------------------------------------------------------
 * footer
 *---------------------------------------------------------------------------*/
footer{
  margin: 0px auto;
  max-width: 1300px;
  height: 34px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}
footer div{
  flex: 1 0 0;
  margin: 0px 85px;
}
.copyright{
  flex: 2 0 0;
  text-align: right;
  font-weight: 300;
}
/*---------------------------------------------------------------------------
 * aqi-colors
 *---------------------------------------------------------------------------*/
.color-01{
  background: #95F084;
}
.color-02{
  background: #FFE695;
}
.color-03{
  background: #FFAF6A;
}
.color-04{
  background: #FF5757;
}
.color-05{
  background: #9777FF;
}
.color-06{
  background: #AD1774;
}
